*{
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
body{
    background-color:white ;
    height:100vh;
    width:90vw;
    background-color:whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width:100vw;
    position: relative;
}
.filters{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 10;
    top:0px;
    left:0px;
    bottom: 0px;
    background-color:rgb(33, 148, 187) ;
    color:white;
    transition: 0.5s;
    display: none; 
 }
.nav{
    width:100%;
    height:100%;
}
.close-filter{
    height:60px;
}
.trips-id{
    text-align: center;
    position: absolute;
}
.close-filter a{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color:white;
    text-align: center;
}
.close-filter > a:hover{
    font-size: 36px;
}

.nav >.vert-nav{
    width:100%;
    height:100%;
}
.vert-nav > a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}
.vert-nav > a:hover {
    background:white;
    color: #111;
}
 .header{
    position: absolute;
    height:70px;
    width:100%;
    background: rgb(33, 148, 187);
}
 .right{
    position: absolute;
    right:0px;
    height: 100%;
}
.right > a{
    display: inline-block;
    padding-top:15px;
    width:100px;
    height:100%;
    text-align: center;
    background: rgb(33, 148, 187);
    color:white;
}
 .right > a:hover{
    text-decoration: none;
 }
 .left{
    position: absolute;
    width:10%;
    height: 100%;
 }
 .container > .header > .left > a{
    display: inline-block;
    width:100px;
    height:100%;
    padding-top: 15px;
    text-align: center;
    background: rgb(33, 148, 187);
    color:white;
 }
 .container > .header > .left > a:hover{
    text-decoration: none;
 }
.container > .main{
    position: absolute;
    top:5%;
    height:90%;
    width:100%;
}
.main-left{
    position: absolute;
    left:0px;
    height:100%;
    width:30%;
    padding: 20px;
    background-color: whitesmoke;
} 
.main-left >.user{
    width:100%;
    background-color: white;
}
.user > .user-photo{
    padding: 5px;
}

.user-photo > h3{
    margin:10px 0px 0px 0px;
    text-align: center;
    color: rgb(27, 223, 109);
}
.container-description {
    text-align:center;
    padding: 0px;
}
.container-description h3 {
    margin-left: 50px;
    width: 200px;
}
.container-description h3:hover {
    text-decoration: none;
}
.user-photo > img{
    border-radius: 50%;
    display: block;
    margin: auto;
}
.nav > a{
    
    display: block;
    text-align: center;
    color:rgb(33, 148, 187);
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    height:50px;
}
.nav > a:hover{
    text-decoration: underline;
    
}
.main-right{
    position: absolute;
    padding: 20px;
    right:0px;
    height:100%;
    width:70%;
    background-color: whitesmoke;

} 
.right-container{
    background-color: whitesmoke;

}
.container-description{
    margin-bottom: 10px;
    background-color: white;
    height:50px;
    
}
.container-description > h4{
    text-align: center;
    margin: 0px;
    color: rgb(33, 148, 187);
}
.container > .footer{
    position: absolute;
    bottom: 0px;
    height:5%;
    width:100%;
    background: rgb(33, 148, 187);
}

.container-description {
    margin: 0px;
    padding: 0px;
    height:50px;
    width:100%;
}
form{
    position: relative;
}
form > select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    margin: 0px;
   
}
.main-right > .right-container > .container-description  > form > div{
    position: absolute;
    width:33%;
    height:100%;
}
input > .price-input {
    background-color: blueviolet;
}
.main-right > .right-container > .container-description  > form > div.right{
   right:0px;
   text-align: right;
}
.main-right > .right-container > .container-description  > form > div.middle{
   right:33%;
 }
.main-right > .right-container > .container-description  > form > div.left{
   left:0px;
}
.main-right > .right-container > .container-description  > form > div > input{
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
}
form button{
    background-color: rgb(33, 148, 187);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    width:98%;
}

.form-container {
    background-color: white;
    padding: 20px;
 }
form > .form-group {
     margin-bottom: 10px;
 }
label {
    display: block;
    margin-bottom: 5px;
    color:rgb(33, 148, 187);
 }
input[type="text"]{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    margin-bottom: 5px;
 }
 .form-group > input[type="radio"]{
    display: inline-block;
    margin-bottom: 5px;
    border: 2px solid red;
  
 }
 .form-group > select{
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: white;
    margin: 0px;
 }
button .btn{
    background-color: rgb(199, 22, 184);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
    width:20%;
    opacity: 0.6;
    transition: width 0.5s;
 }
button .btn:hover{
    width:40%;
    opacity: 1.2;
  }
.dlt {
    width: 15%;
    font-size: 11px;
    opacity: 0.6;
}
.dlt:hover {
    width:20%;
    opacity: 1.2;
}
.btn1 #create_btn {
    width: 10px;
    background-color: green;
}
#confirm-delete{
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.form img {
    display: inline-flex;
    flex-direction: row;
    justify-content: cen3ter;
    width: 2%;
    height: 2%;
    margin-top: 5px;
   
}
.submit{
    display: flex;
    text-decoration: none;
}
#delete{
    margin-left: 600px;
    margin-right: 100px;
    color: red;
    text-decoration: none;
}
#delete:hover {
    color: white;
    background-color: red;
    width: 3%;
    cursor: pointer;
}
#cancel:hover {
    background-color: green; 
    width: 3%;
    cursor: pointer;
}
.nav1 {

    text-align: center;
    font-size: 30px;
    margin-top: 1px;
    color: white;
    text-decoration: none;
}
.nav1 a {
    text-decoration: none;
    width: 30px;
}